/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `aircraft` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `model` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `airline` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKtm8b09a7lmd7f9nlhu18ksvue` (`code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `airport` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `city_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKf583ieaw0ttnwklqy222tfru0` (`city_id`),
  CONSTRAINT `FKf583ieaw0ttnwklqy222tfru0` FOREIGN KEY (`city_id`) REFERENCES `city` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `city` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `flight` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `estimated_time` datetime(6) DEFAULT NULL,
  `flight_number` varchar(255) NOT NULL,
  `remarks` varchar(255) DEFAULT NULL,
  `scheduled_time` datetime(6) DEFAULT NULL,
  `status` enum('BOARDING','CANCELLED','DELAYED','DEPARTED','EN_ROUTE','LANDED','SCHEDULED') NOT NULL,
  `type` enum('ARRIVAL','DEPARTURE') NOT NULL,
  `aircraft_id` bigint NOT NULL,
  `airline_id` bigint NOT NULL,
  `board_airport_id` bigint NOT NULL,
  `gate_id` bigint DEFAULT NULL,
  `other_airport_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKmofq89ullrd4qk1hllnyf8pn5` (`aircraft_id`),
  KEY `FK37wfh52g7g91rllg104gfq3yv` (`airline_id`),
  KEY `FKb30t9owc235thefy1ode73kbl` (`board_airport_id`),
  KEY `FKovob4xje53mpck871fhyicu0` (`gate_id`),
  KEY `FK3whs2gavrb1tib1o2tq10v6m` (`other_airport_id`),
  CONSTRAINT `FK37wfh52g7g91rllg104gfq3yv` FOREIGN KEY (`airline_id`) REFERENCES `airline` (`id`),
  CONSTRAINT `FK3whs2gavrb1tib1o2tq10v6m` FOREIGN KEY (`other_airport_id`) REFERENCES `airport` (`id`),
  CONSTRAINT `FKb30t9owc235thefy1ode73kbl` FOREIGN KEY (`board_airport_id`) REFERENCES `airport` (`id`),
  CONSTRAINT `FKmofq89ullrd4qk1hllnyf8pn5` FOREIGN KEY (`aircraft_id`) REFERENCES `aircraft` (`id`),
  CONSTRAINT `FKovob4xje53mpck871fhyicu0` FOREIGN KEY (`gate_id`) REFERENCES `gate` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gate` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `airport_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKg4s0c2v854iydpf7lsi8afnwx` (`name`,`airport_id`),
  KEY `FKcn2ka7np18d4u2depibd0awpw` (`airport_id`),
  CONSTRAINT `FKcn2ka7np18d4u2depibd0awpw` FOREIGN KEY (`airport_id`) REFERENCES `airport` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `passenger` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) DEFAULT NULL,
  `aircraft_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKlbntvgg96auw22phgn059pv6o` (`aircraft_id`),
  CONSTRAINT `FKlbntvgg96auw22phgn059pv6o` FOREIGN KEY (`aircraft_id`) REFERENCES `aircraft` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
